---
   // src/pages/compostestpage.astro
   import { getEntry } from "astro:content";
   import Layout from "../layouts/Layout.astro";
   import Navbar from "../components/Navbar.jsx";
   import Hero from "@/components/Hero";
   import "../styles/global.css";
import Ourstory from "../components/Ourstory";

   const entry = await getEntry("posts", "shovelheads-band");
   if (!entry) throw new Error("Shovelheads band post not found");
   const { Content } = await entry.render();
   ---

<Layout
  title={entry.data.title}
  description={entry.data.description}
  image={entry.data.image}
  entry={entry}
>
  <!-- <Navbar client:load /> -->
  <Hero client:load />
  <main class="min-h-screen p-8 bg-black text-text-primary">
   <div class="flex flex-col items-center justify-center mt-8">
     <h1 class="font-black text-7xl font-nirvana text-shovel-head-main-color">
     Shovel Heads , A Grunge/Punk Rock Band , Originally From
      <span class="font-nirvana text-shovel-head-main-color"> Yangon</span>
    </h1>
    </div>
    
    <div class="p-6 mt-8 border rounded-lg bg-bg-card border-neutral-700">
      <span class="font-bold font-bitcount text-raue-peach ">
        Highlighted text
      </span>
    </div>
    <Ourstory/>
  </main>

  <style>
    .pixel-text {
      text-shadow: 0 0 1px rgba(255, 255, 255, 0.7), 0 0 3px rgba(0, 0, 0, 0.4);
      -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.2);
      letter-spacing: 2px;
      line-height: 1.2;
      filter: brightness(1.1) contrast(1.2);
    }
  </style>
</Layout>