---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-4xl font-bold text-gray-800 mb-4">Welcome to My Astro Site</h1>
  <p class="text-lg text-gray-600">This is the homepage built with Astro and Tailwind CSS.</p>
  <h1>This is the testing commit from the dev branch</h1>
  <h1>For the sake of github streak </h1>
</Layout>