---
  import Navbar from "../components/Navbar";
  import Header from "../components/Header.astro";
  import "../styles/global.css";

  interface Props {
    title: string;
    description?: string;
    image?: string;
    link?: string;
    linkText?: string;
    entry?: any;
  }

  const {
    title = "Shovelheads - Yangon's Grunge Revival",
    description = "Explore Shovelheads, a Yangon-based grunge band inspired by the 90s, led by Layate Min Htet.",
    image = "/images/shovel_heads_logo.png",
    link,
    linkText,
    entry,
  } = Astro.props;
  const { Content } = entry ? await entry.render() : { Content: () => null };
  ---

  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta property="og:title" content={title} />
      <meta property="og:description" content={description} />
      <meta property="og:image" content={image} />
      <meta property="og:url" content="https://shovelheadsrock.com" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap" rel="stylesheet">    <body class="min-h-screen bg-gray-100 text-gray-900">
      
      <main class="">
        
        <slot />
      </main>
    </body>
  </html>
  